.proj-container {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    width: 500px;
    padding: 10px;
}

.proj-container .top {
    /* border: 1px solid blue; */
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.proj-container .down {
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.down h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
}

.down p {
    font-size: 15px;
    text-align: start;
    line-height: 22px;
}

.down .techs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.techs p {
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(192, 192, 192, 0.445);
    padding: 2px 10px;
}

.btn2 {
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    margin: 0 2px;
    height: 40px;
    color:black;
}
.btn2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.btn2 a{
    color:black;
    border: none;
}
a .bxl-github{
    border:none;
}
a .bxl-globe{
    border:none;
}
a .bx:hover{
    border: none;
}

/*  */


.btn2 {
  border: 1px solid #000;
  transition: all 0.3s ease;
}

.btn2 a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* icon default */
.btn2 a .bx {
  font-size: 18px;
  color: #000;
  transition: color 0.3s ease;
}

/* HOVER EFFECT */
.btn2:hover {
  background-color: #000;
}

.btn2:hover a {
  color: #fff;
}

.btn2:hover a .bx {
  color: #fff;
}
/*  */


.down .btns {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    color: black;
}



/*? ---Responsive--- */
@media (max-width: 480px) {
    .proj-container {
        width: 400px;
        padding: 5px;
        /* background-color: rgba(128, 128, 128, 0.185); */
    }

}