header{
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.349);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 50px;
   background-color: rgba(255, 255, 255, 0.075);
   backdrop-filter: blur(10px);
   position: sticky;
   top: 0;
   border-bottom: 1px solid black;
}
header .bxs-terminal{
  display: none;
  }

.nav-elements{
  display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
   font-size: 18px;
   list-style: none;
   cursor:pointer;
}

/** --buttons-- */
.btn{
  font-family: "JetBrains Mono", monospace;
  border: none;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
.btn:hover{
  color: rgb(0, 202, 0);
  box-shadow:0 0 100px 10px rgba(0, 255, 0, 0.541);
  transition: all 0.1s ease;
  cursor:pointer;
  
}
.btn1{
  font-family: "JetBrains Mono", monospace;
  border: 1px solid green;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 20px;
}
.btn1:hover{
  color: rgb(0, 202, 0);
  background-color: rgb(46, 46, 46);
  /* box-shadow:0 0 100px 10px rgba(0, 255, 0, 0.178); */
  transition: all 0.1s ease;
  cursor:pointer;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact-btn{
  background-color: black;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 20px;
}

.contact-btn i{
  border: 1px solid rgba(255, 255, 255, 0.5);
}
/*! --buttons-- */


/**icons */
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  gap: 20px;
}
i{
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 5px;
  /* margin: 10px 10px; */
  padding: 10px;
  font-size: 22px;
}
i:hover{
  cursor: pointer;
  border: 1px solid rgb(27, 112, 2);
  color: #00d800;
}
.skills{
  display: flex;
  gap: 50px;
}
.skills p{
  font-weight: 600;
  font-size: 20px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  gap: 20px;
}
i{
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 5px;
  /* margin: 10px 10px; */
  padding: 10px;
  font-size: 22px;
}
i:hover{
  cursor: pointer;
  border: 1px solid rgb(27, 112, 2);
  color: #00d800;
}

/*! ---icons--- */

/** Section */
section{
  height: 100vh;
  width: 100vw;
  /* border: 2px solid #00d800; */

}
section h1{
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
}

section p{
  font-size: 15px;
  font-weight: 200;
  /* color: rgb(73, 73, 73); */
  color: blue;
  margin-top: 10px;
  line-height: 30px;

}
section .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: center;
  /* background-color: grey; */
  height: 92vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.050) 0.5px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.050) 1px, transparent 1px);
  background-size: 20px 20px;
    padding: 0px 350px;
    border-bottom: 2px solid rgb(0, 201, 0);
}
section span {
  color: rgb(0, 201, 0);
  background-color: black;
  font-weight: 600;
  padding: 5px 10px;
}


.skills{
    text-align: start;
    background-color: #1E1E1E;
    color: #40BBC7;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #40BBC7;
    text-shadow:2px 2px 20px #40bcc781 ;
    box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.171);
}
.skills p{
    font-size: 18px;
    color: #40BBC7;
}
/*! --- Section --- */

/** footer */
footer{
  background-color: black;
  color:white;
  padding: 20px 30px;
  
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.275) 0.5px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.275) 0.5px, transparent 1px);
  background-size: 20px 20px;
}
footer i{
  border: 1px solid rgba(255, 255, 255, 0.5);
}
footer p{
  padding: 20px 30px;
}


/*! ---footer--- */








/*? ---Responsive--- */
@media (max-width: 480px) {
  header{
    width: 100vw;
    height: 80px;
  }
  header nav{
    display: none;
  }
  header .bxs-terminal{
    display: block;
    border: none;
    padding: 0px;
    padding-left: 30px;
    font-size: 40px;
  }
  
  header .btn{
    display: none;
  }


  
  section h1{
    font-size: 55px;
  }


  section .info{
    height: 900px;
    justify-content: space-evenly;
      padding: 0px 50px;
      gap: 10px;
  }
  .skills{
  flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
  }
  .skills p{
    font-weight: 600;
    font-size: 18px;
  }
  .buttons{
    flex-direction: column;
    gap: 10px;
  }
  .buttons .btn1{
    width: 300px;
  }

}