.about-section {
    padding: 50px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    /* border: 2px solid blue; */
}

.about-section i {
    border-radius: 100px;
}

.about-section p {
    font-size: 18px;
}

.bxs-chevron-down {
    z-index: -1;
  display: inline-block;
  animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px); /* bounce distance */
  }
}

section .heading {
    display: inline;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #00C900;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}


/* status */
.status {
    background-color: black;
    width: 98%;
    border-radius: 5px;
    border: 1px solid #00C900;
    padding: 20px 25px;
    text-align: start;
}

.details h3 {
    font-weight: 200;
    color: white;
}

.details span {
    background: none;
    font-weight: 200;
}

.details p {
    color: white;
}


/*? ---Responsive--- */
@media (max-width: 480px) {
    .about-section {
        padding: 50px 50px;
        gap: 40px;
        text-align: center;
    }

    .about-section img {
        width: 400px;
    }

    .skills-box {
        flex-direction: column;
    }

    
    .status {
        background-color: black;
        width: 123%;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #00C900;
        padding: 20px 25px;
        text-align: start;
    }

    .status .details p {
        font-size: 12px;
    }


}