header{
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.349);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 50px;
   background-color: rgba(255, 255, 255, 0.075);
   backdrop-filter: blur(10px);
   position: sticky;
   top: 0;
   border-bottom: 1px solid black;
   
}
.nav-elements{
  display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
   font-size: 18px;
   
}
.btn{
  font-family: "JetBrains Mono", monospace;
  border: none;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
.btn:hover{
  color: rgb(0, 202, 0);
  box-shadow:0 0 100px 10px rgba(0, 255, 0, 0.541);
  transition: all 0.1s ease;
  cursor:pointer;

}
.btn1{
  font-family: "JetBrains Mono", monospace;
  border: 1px solid green;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 20px;
  
}
.btn:hover{
  color: rgb(0, 202, 0);
  box-shadow:0 0 100px 10px rgba(0, 255, 0, 0.178);
  transition: all 0.1s ease;
  cursor:pointer;
}
.btn1:hover{
  color: rgb(0, 202, 0);
  background-color: rgb(46, 46, 46);
  /* box-shadow:0 0 100px 10px rgba(0, 255, 0, 0.178); */
  transition: all 0.1s ease;
  cursor:pointer;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.contact-btn{

  background-color: black;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 20px;
}
.contact-btn i{
  border: 1px solid rgba(255, 255, 255, 0.5);
}





/*! Section */
.section {
  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-repeat: repeat-x;
  /* border: 2px solid black; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border: 2px solid red;
}
.section .skills{
  display: flex;
  gap: 90px;
  /* font-size: 32px; */
}
.section .skills p{
  /* border: 1px solid black; */
  /* padding: 0px; */
  font-size: 18px;
  font-weight: 500;
  color: blue;
}
.section .info {
  height: 50vh;
  width: 100%;
  padding: 0 350px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.050) 0.5px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.050) 1px, transparent 1px);
  background-size: 20px 20px;
}

.section h1 {
  font-size: 70px;
  text-transform: uppercase;
}

.section p {
  font-size: 15px;
  font-weight: 200;
  color: rgb(73, 73, 73);
  margin-top: 10px;
  line-height: 30px;

}

.section span {
  color: rgb(0, 201, 0);
  background-color: black;
  font-weight: 600;
  padding: 5px 10px;
}






.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  gap: 20px;
}
i{
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 5px;
  /* margin: 10px 10px; */
  padding: 10px;
  font-size: 22px;
}
i:hover{
  cursor: pointer;
  border: 1px solid rgb(27, 112, 2);
  color: #00d800;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 50px; */
  border: 2px solid orange;
}
.skills p{
  font-weight: 600;
  font-size: 20px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  gap: 20px;
}
i{
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 5px;
  /* margin: 10px 10px; */
  padding: 10px;
  font-size: 22px;
}
i:hover{
  cursor: pointer;
  border: 1px solid rgb(27, 112, 2);
  color: #00d800;
}


/* footer */
footer{
  background-color: black;
  color:white;
  padding: 20px 30px;
  
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.275) 0.5px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.275) 0.5px, transparent 1px);
  background-size: 20px 20px;
}
footer i{
  border: 1px solid rgba(255, 255, 255, 0.5);
}
footer p{
  padding: 20px 30px;
}




@media (max-width: 480px) {
    header {
        /* width: 96vw; */
        gap: 20px;
        /* background-color: red; */
        width: 100%;

    }
     .nav-elements{
        display: none;
     }
     header .btn{
      display: none;
     }
     

    i{
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 6px;
    font-size: 25px;
    }
    i:hover{
    cursor: pointer;
    border: 1px solid rgb(27, 112, 2);
    color: #00d800;
    }

    .section h1{
    font-size: 50px;
    text-transform:uppercase;
    text-align: center;
  }
  .section .info{
    width:100px;

  }

  .section .info {
    /* margin-top: 200px; */
  height: 50vh;
  width: 100%;
  padding: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.050) 0.5px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.050) 1px, transparent 1px);
  background-size: 20px 20px;
}

.btn1{
  font-family: "JetBrains Mono", monospace;
  border: 1px solid green;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 20px;
  
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid red;
  gap: 20px;
}
.btn1{
  width: 300px;
}
.contact-btn{

  background-color: black;
  color: white;
  }
  .skills{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .skills p{
  font-weight: 900;
  font-size: 15px;
}



     /* footer */
    footer{
      width: 100vw;
    /* font-size: 12px; */
    }




}